:root {
  --primary: #ffc100;
  --bg: #152d32;
  --bg1: #fff;
  --end: #091416;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "lato", sans-serif;

  background-color: var(--bg1);
  color: #fff;
  min-height: 6000px;
}

/*navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  overflow: hidden;
  background-color: var(--bg);
}

.navbar .navbar-logo {
  /* padding: 50px; */
  font-size: 1.5rem;
  font-weight: 550;
  color: #fff;
}

.navbar .navbar-logo span {
  color: var(--primary);
  font-style: italic;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra {
  /* padding: 50px; */
  color: #fff;
}
.navbar .navbar-extra img {
  /* padding: 50px; */
  color: #fff;
  padding: 5px;
}

.navbar .navbar-extra a :hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* hero section*/
.hero {
  min-height: 10vh;
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--bg);
  /* padding: 50px; */
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
}

.hero .content {
  padding: 1.4rem 7%;
}

.hero .content h1 {
  text-align: left;
  font-size: 5.9rem;
  font-weight: 800;
  margin-top: 50px;
  margin-bottom: 40px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
  max-width: 80rem;
}

.hero .content p {
  font-size: 1.3rem;
  line-height: 1.4;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  max-width: 50rem;
}
.hero .content h1 span {
  color: var(--primary);
}

.hero img {
  justify-content: center;
  margin-top: -100px;
  align-items: center;
  height: 130px;
}

.row .home img {
  width: 100%;
  height: 580px;
  object-fit: cover;
}

.brands {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: var(--bg1);
}
.brands img {
  margin: 0 40px;
  max-height: 200px;
  margin-top: 60px;
}

.container-category {
  display: flex;
  justify-content: center;
  margin: 100px;
  background-color: var(--bg1);
}
.category {
  height: 268px;
  width: 285px;
  padding: 20px;

  background-color: var(--bg1);
  transition: background-color 0.3s ease;
}
.category:hover {
  background-color: var(--bg);
  color: white;
}
.container .category img {
  width: 50px;
  margin-bottom: 10px;
  margin-top: 60px;
}
.category img :hover {
  color: var;
}
.category h3 {
  font-size: 1.5em;
  margin-bottom: 50px;
  margin-top: 20px;
  color: var(--bg);
}
.category:hover h3 {
  color: #fff;
}

.category p {
  font-size: 0.9em;
  margin-top: 50px;
  color: #7a7a7a;
}
.category:hover p {
  color: #fff;
}
.category.selected {
  background-color: #102b35;
  color: white;
}
.category.selected p {
  color: white;
}

.popular {
  padding: 50px;
}

.popular h2 {
  font-size: 4rem;
  margin: 20px;
  color: var(--bg);
  padding: 40px;
  max-width: 50rem;
  margin-top: -60px;
}

.popular p {
  font-size: 1.2rem;
  color: #7a7a7a;
  padding: 40px;
  margin: 20px;
  max-width: 45rem;
  margin-top: -60px;
}

.popular img,
.new-product a img {
  justify-content: center;
  margin-top: -260px;
  align-items: center;
  height: 5rem;
  padding: 40px;
}
.popular h4 {
  color: var(--bg);
  text-align: right;
  padding: 40px;
  font-size: 2rem;
  font-weight: 500;
  margin-top: -150px;
}

.scroll-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
.card h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--bg);
}
.scroll-container {
  overflow-x: auto;
  border-radius: 8px;
  white-space: nowrap;
  padding: 10px 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.card {
  display: inline-block;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 5px;
  width: 364px;
  transition: transform 0.3s;
}
.card:hover {
  transform: scale(1.05);
}
.card img {
  width: 364px;
  height: 384px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.card-content {
  padding: 20px;
}
.title {
  font-size: 18px;
  margin: 0;
}
.stock {
  color: #888;
}

::-webkit-scrollbar {
  height: 6px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2c3e50;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg);
}

.container-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 200px;
}

.about {
  flex: 3;
}

.about h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: rgba(9, 20, 22, 1);
}

.container-about .about h2 {
  font-size: 48px;
  max-width: 43rem;
  line-height: 65px;
  color: rgba(9, 20, 22, 1);
}

.stats {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.stat {
  font-size: 64px;
  font-weight: 600;
  color: #000;
  border-radius: 5px;
}
.stats span {
  color: var(--primary);
}
.stats p {
  font-size: 10px;
  color: rgba(161, 171, 173, 1);
  margin-top: 20px;
}

.image-section {
  flex: 1;
  margin-right: 20px;
}

.image-section img {
  width: 321px;
  height: 100%;
  border-radius: 10px;
}

.about a img {
  position: relative;
  height: 100px;
  width: 100px;
  justify-content: center;
  margin-top: -340px;
  align-items: center;
  margin-left: 200px;
}

.container-about .image-section1 img {
  position: relative;
  display: flex;
  margin-top: -30rem;
  margin-left: 50rem;
}

.container-about .image-section2 img {
  position: relative;
  display: flex;
  margin-top: -19.5rem;
  margin-left: 42.5rem;
}
.product {
  margin: 50px;
  padding: 20px;
}
.product h2 {
  color: #000;
  margin: 80px;
  font-size: 48px;
  line-height: 65px;
  font-weight: 600;
  max-width: 600px;
}

.product p {
  font-size: 14px;
  color: #7a7a7a;
  padding: 40px;
  margin: 40px;
  max-width: 32rem;
  margin-top: -100px;
}

.product h4 {
  color: var(--bg);
  text-align: right;
  padding: 40px;
  font-size: 2rem;
  font-weight: 500;
  margin-top: -150px;
}

.product .card {
  background-color: white;
  border-radius: 8px;

  overflow: hidden;
  width: 557px;
  height: 338px;
  position: relative;
}
.product-card img {
  width: 100%;
  height: auto;
}

.product-info {
  padding: 15px;
}

.product-info h2 {
  bottom: 30px;
  color: #fff;
}

.stock {
  margin: 10px 0;
  font-size: 14px;
  color: #888;
}

.product .card img {
  width: 557px;
  height: 338px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.product .card a img {
  display: absolute;
}

.product-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.product-info h2 {
  margin-bottom: 5px;
  font-size: 18px;
}

.product-info span {
  font-size: 14px;
}

.info {
  margin: 50px;
  padding: 20px;
}

.info-blog {
  margin-top: 100px;
}
.info h2 {
  color: #000;
  margin: 80px;
  font-size: 48px;
  line-height: 65px;
  font-weight: 600;
  max-width: 600px;
  margin-left: 820px;
  margin-top: -300px;
}

.info p {
  font-size: 14px;
  color: #7a7a7a;
  /* margin: 40px; */
  margin-top: -60px;
  margin-left: 820px;
  line-height: 28px;
  max-width: 500px;
}

.info img {
  height: 5rem;
  padding: 80px;
  margin-top: 80px;
}

.info h4 {
  color: var(--bg);
  padding: 80px;
  font-size: 2rem;
  font-weight: 500;
  margin-top: -130px;
}

.info .card h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--bg);
}
.info .info-card {
  border-radius: 8px;
  white-space: nowrap;
  padding: 10px 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.info .card {
  display: inline-block;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 364px;
  transition: transform 0.3s;
}
.info .card:hover {
  transform: scale(1.05);
}
.info .card img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 364px;
  height: 384px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.info .card-content {
  padding: 20px;
}
.info .title {
  font-size: 12px;
  margin: 0;
}
.info .card-content p {
  color: #888;
  font-size: 20px;
}

::-webkit-scrollbar {
  height: 6px;
  width: 8px;
}

.testimonial-section {
  max-width: 1200px;
  margin: 0 auto;
}

.testimonial-section h2 {
  max-width: 600px;
  font-weight: 600;
  font-size: 48px;
  margin-top: 300px;
  color: #000;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.testimonials-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.testimonial-box {
  margin-top: 100px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 30%;
  text-align: center;
}

.testimonial-box p {
  text-align: left;
  margin-bottom: 20px;
  font-size: 1rem;
  color: #666;
}

.client-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.client-info h3 {
  text-align: left;
  color: #000;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.client-info span {
  font-size: 0.9rem;
  color: #aaa;
}

.testimonials-summary {
  text-align: center;
  margin-left: 850px;
  margin-top: -700px;
  min-width: 350px;
}

.testimonials-summary h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: left;
}

.testimonials-summary img {
  height: 700px;
}

.testimonials-summary p {
  text-align: left;
  font-size: 1rem;
  color: #666;
}

.testimonials-summary strong {
  color: #000;
}

.testi-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testi-info img {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 250px;
  padding: -50px;
}

footer {
  background-color: rgba(8, 19, 21, 1);
  padding: 50px 0;
  margin-top: 400px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  margin: 100px;
}

.footer-des {
  width: 20%;
  min-width: 200px;
  margin-bottom: 20px;
  margin-top: 4px;
  max-width: 400px;
  margin-bottom: 40px;
  margin-right: 300px;
}

.footer-des h2 {
  margin-bottom: 20px;
  color: #fff;
}

.footer-des p {
  font-size: 14px;
  min-width: 350px;
  margin-bottom: 40px;
  line-height: 24px;
}

.footer-section {
  width: 20%;
  min-width: 200px;
  margin-bottom: 20px;
  margin-top: 4px;
  max-width: 400px;
  margin-bottom: 40px;
}

.footer-section h2 {
  margin-bottom: 20px;
  color: #fff;
}

.footer-section h3 {
  /* margin-left: 200px; */
  margin-bottom: 20px;
  color: #fff;
}

.footer-section p,
.footer-section ul {
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a img {
  width: 24px;
  height: 24px;
}

.contact p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact img {
  width: 20px;
  height: 20px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p {
  color: #999;
  font-size: 14px;
  text-align: left;
  margin-left: 100px;
}

/* .amar img {
  justify-content: center;
  align-items: center;
  height: 5rem;
  padding: 80px;
  margin-top: 80px;
  padding: 80px;
  margin-left: 60px;
}
.judul {
  padding: 80px;
  margin-left: 60px;
  margin-top: -120px;
  color: black;
  text-align: left;
  font-size: 2rem;
}

.deskripsi {
  font-size: 14px;
  color: #7a7a7a;
  max-width: 32rem;
  margin-left: 820px;
}

.title {
  color: #000;
  font-size: 48px;
  line-height: 65px;
  font-weight: 600;
  max-width: 600px;
  margin-left: 820px;
  margin-top: -280px;
} */

/* .info-blog a img {
  justify-content: center;
  align-items: center;
  height: 5rem;
} */
